* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: black;
}

.head {
    background-color: #1F2937;
    height: 524px;
}

.head-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.information-header {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 48px;
}

.information-text {
    width: 450px;
}

.information-text button {
    background-color: #3882F6;
    border-radius: 10px;
    border: 0 solid #3882F6;
    width: 130px;
    height: 40px;
    margin-top: 12px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB
}

.information-img {
    height: 210px;
    width: 470px;
}

.center {
    display: flex;
    justify-content: center;
}

.right-side ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.second-section {
    height: 524px;
    background-color: white;
}

.second-section-container {
    display: flex;
    flex-direction: column;
}

.second-section-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 76px;
    text-align: center;
}

.second-section-images img {
    border-radius: 20px;
    width: 180px;
    height: 180px;
}

.second-section-images {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 48px;
}

.second-section-images > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    gap: 8px;
}

.image-text {
    text-align: center;
    color: #686a6d;
}

.third-section {
    background-color: #E5E7EB;
    height: 524px;
}

.third-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    width: 810px;
    text-align: center;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.fourth-section {
    background-color: white;
}

.fourth-section-container {
    background-color: #3882F6;
    margin: 140px 0;
    padding: 50px 140px;
    display: flex;
    align-items: center;
    gap: 180px;
    border-radius: 10px;
}

.fourth-section-main {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 2px;
}

.fourth-section-sec {
    color: #E5E7EB;
}

.fourth-section-container button {
    width: 130px;
    height: 40px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    color: #F9FAF8;
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}